model/
data/color_frames
data/bw_frames
data/color_frames_continuous_gif
data/bw_frames_continuous1
data/B2A_gif
data/A2B_gif
data/A2B
data/B2A
nogan_training.ipynb
cyclegan_training01.ipynb
cyclegan_training02.ipynb
cyclegan_training03.ipynb
cyclegan_training04.ipynb